@import "~normalize.css";

@import "_variables";

@import "modules/hello.scss";

html {
	box-sizing: border-box;
}
*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	background: #ddcfb5;
	color: rgb(44, 37, 15);
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	padding: 16px;

}

.editor {
	width: 100%;
	max-width: 736px;
}

.form__buttons {
		display: flex;
		justify-content: flex-end;
	}

.form__textarea {
	background: rgb(243, 238, 228);
		width: 100%;
		min-height: 175px;
		border-color:  rgb(31, 26, 19);
		border-radius: 8px;
		padding: 16px;
	
	}

.button {
	color:  rgb(31, 26, 19);
	background:  rgb(187, 164, 115);
	border: none;
	border-radius: 2px;
	width: 50px;
	height: 20px;
	margin: 16px 0 0;
	&--save {
		color:  rgb(218, 195, 147);
		background: rgb(31, 26, 19);
		margin: 16px 0 0 8px;
	}
}
